﻿@{ Layout = "~/Views/Shared/Ajustes_Layout.cshtml";
                ViewData["Title"] = "Cursos"; }

<head>
    <meta charset="utf-8" />
    <script charset="UTF-8"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</head>
<div class="container-fluid px-4">
    <h1 class="mt-4">Crear nuevo Curso</h1>
    <form action="/docente/CrearCursos" enctype="multipart/form-data" class="col-12" method="post">
        <div class="mb-3">
            <label class="form-label" for="image">Imagen</label>
            <input type="file" class="form-control" name="image" accept="image/x-png,image/gif,image/jpeg" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="Nombre">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" name="Nombre" value="@Model.Nombre" required />
            <p class="alert-danger">@Html.ValidationMessage("Nombre")</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Detalle">Detalle</label>
            <input type="text" class="form-control" placeholder="Detalle" name="Detalle" value="@Model.Detalle" required />
            <p class="alert-danger">@Html.ValidationMessage("Detalle")</p>
        </div>

        <div class="form-group">
            <label class="form-label" for="Descripcion">Descripción del curso</label>
        </div>
        <textarea id="text" rows="5" cols="60" name="Descripcion" value="@Model.Descripcion"></textarea>

        @*<div class="mb-3">
            <label class="form-label" for="Video">Video introductorio</label>
            <input type="text" class="form-control" placeholder="Video introductorio" name="Video" value="@Model.Video" required />
            <p class="alert-danger">@Html.ValidationMessage("Video")</p>
        </div>*@

        <label for="Video" class="form-label">Video introductorio</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Ningun video seleccionado" name="Video" value="@Model.Video" required>
            <p class="alert-danger">@Html.ValidationMessage("Video")</p>
        </div>


        <div class="mb-3">
            <label class="form-label" for="IdCategoria">Categoria</label>
            <select name="IdCategoria" class="form-control" required>
                <option value="">-- Selecciona una categoria --</option>
                @foreach (var item in ViewBag.Categorias)
                {
                    <option value="@item.Id">@item.Nombre</option>}
            </select>
            <p class="alert-danger">@Html.ValidationMessage("IdCategoria")</p>
        </div>

        <div class="form-group">
            <label class="form-label" for="Precio">Precio</label>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">S/.</span>
          <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Precio" name="Precio" value="@Model.Precio">
          <span class="input-group-text">.00</span>
        </div>

        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
        <a class="btn btn-danger" href="/docente/">Cancelar</a>
    </form>
</div>

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("text") });
</script>
<script src="~/js/site.js"></script>