﻿@{
    ViewData["Title"] = ViewBag.Nombre;
    var profes = (List<Usuario>)Model;

}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Docentes</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        @if (!User.Identity.IsAuthenticated) 
                        { 
                            <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                        }
                        @if (User.Identity.IsAuthenticated) 
                        { 
                            <li class="breadcrumb-item"><a class="text-white" href="/ajustes/Tablero">Conectado @User.Claims.FirstOrDefault().Value</a></li>
                        }
                        <li class="breadcrumb-item"><a class="text-white" href="/docente/docentes">Docentes</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="/curso/cursos">Cursos</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Docentes</h6>
            <h1 class="mb-5">Instructores Expertos</h1>
        </div>
        <div class="row g-4">
            @foreach (var item in profes)
            {
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="@item.Imagen" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="@item.LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="@item.Facebook"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="@item.Twitter"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">@item.Nombres @item.Apellidos</h5>
                            <small>@item.Titulo</small>
                            <br />
                            <a href="/docente/DetalleDocente?idDocente=@item.Id" class="btn btn-primary py-md-1 px-md-1 me-1 animated slideInLeft">Saber más</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Team End -->
