﻿@{
    Layout = "~/Views/Shared/Ajustes_Layout.cshtml";
    ViewData["Title"] = "Docente";
    var cursos = (List<Curso>)Model;
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Cursos - @ViewBag.Nombre</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Tabla @ViewBag.Nombre
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in cursos)
                    {
                        <tr>
                            <td><img width="25" src="@item.Imagen" alt=""></td>
                            <td>@item.Nombre</td>
                            <td class="float-right">
                                <a class="btn btn-success btn-sm" href="/docente/EditarCurso?idCurso=@item.Id"><i class="fas fa-edit"></i></a>
                                @*<a class="btn btn-danger btn-sm" onclick="Eliminar(@item.Id ,'curso')"><i class="fas fa-trash-alt"></i></a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/datatables-simple-demo.js" asp-append-version="true"></script>
}