﻿@{ Layout = null;
    ViewData["Title"] = ViewBag.Nombre;
    //Layout = null;
    var curso = (Curso)Model;
    int i = 1; }

<head>
    <!--AGREGADO INICIO-->
    <meta charset="utf-8" />
    <script charset="UTF-8"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="InclusionVirtual, educacion" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"] - IncVirtual</title>


    <!-- Favicon -->
    <link rel="shortcut icon" href="/proyecto/I.png">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <!--FIN AGREGADO-->
    <!--CSS GOLD CONF-->
    <link rel="stylesheet" href="~/css/Nosotros.css">
    <link href="~/css/site2.css" rel="stylesheet" />
</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>IncVirtual</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Inicio</a>
                <a href="/docente/docentes" class="nav-item nav-link">Docentes</a>
                <a href="/curso/cursos" class="nav-item nav-link">Cursos</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Categorias</a>
                    <div class="dropdown-menu fade-down m-0">
                        @foreach (var categoriasss in ViewBag.Categorias)
                        {
                            <a class="dropdown-item" href="/home/Cursos?idCategoria=@categoriasss.Id">@categoriasss.Nombre</a>
                        }
                    </div>
                </div>
                <a href="/home/Testimonial" class="nav-item nav-link">Testimonial</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/CursoUsuario/MisCursos" class="nav-item nav-link">Mis Cursos</a>
                }
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <a href="/user/register" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Ingresar<i class="fa fa-arrow-right ms-3"></i></a>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/user/Logout" class="btn btn-primary py-4 px-lg-3 d-none d-lg-block"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                <a href="/ajustes/Tablero" class="btn btn-primary py-4 px-lg-3 d-none d-lg-block">@User.Claims.FirstOrDefault().Value</a>
            }
        </div>
    </nav>
    <!-- Navbar End -->

    <main role="main" class="pb-3">
        <div class="responsive-nav">
            <div id="menu" class="menu wow zoomIn" style="padding-left:1%; padding-right:1%" ;>
                <br />
                <h3>Contenido del curso</h3>
                <br />

                <div class="progress" style="height: 15px; border-radius:7px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @(ViewBag.Progreso)%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@ViewBag.Progreso%</div>
                </div>

                <br />

                <div class="accordion" id="accordionExample">
                    @if (curso.Modulos.Count > 0)
                    {
                        foreach (var item in curso.Modulos)
                        {
                            <div class="accordion-item">
                                <p class="accordion-header" id="heading_@item.Id">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.Id" aria-expanded="true" aria-controls="collapse_@item.Id">
                                        <strong>@item.Nombre</strong>
                                    </button>
                                </p>
                                <div id="collapse_@item.Id" class="accordion-collapse collapse" aria-labelledby="heading_@item.Id" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        @foreach (var clases in item.Clases)
                                        {
                                            foreach (var progreso in ViewBag.Progresos)
                                            {
                                                if (clases.Id == progreso.IdClase && progreso.progress)
                                                {
                                                    <p>
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                        <a onclick="video(@clases.Id)" href="#">@i.  @clases.Nombre</a>
                                                    </p>
                                                }
                                                else
                                                if (clases.Id == progreso.IdClase && !progreso.progress)
                                                {
                                                    <p>
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                        <a onclick="video(@clases.Id)" href="#">@i.  @clases.Nombre</a>
                                                    </p>
                                                }
                                            }
                                            i++;
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <i class="fa fa-check" aria-hidden="true">Aún no cuenta con contenido</i>
                    }
                </div>
            </div>
        </div>

        <section class="section about-me" data-section="section1" style="padding-left:0%; padding-right:0%" ;>
            <div class="container">
                <div id="video">
                    <iframe width="1018" height="600" src="@curso.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h1>@curso.Nombre</h1>
                    <p>@curso.Detalle</p>
                    <p><strong>Instructor: </strong>@curso.Docente.Nombres @curso.Docente.Apellidos</p>
                    <p><strong>Categoria: </strong>@curso.Categoria.Nombre</p>
                </div>
            </div>
        </section>
    </main>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main2.js"></script>
    <script src="~/js/mainPla.js"></script>

    <!--SCRIPT SYSTEM-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- Código de instalación Cliengo para www.IncVirtual.com -->
    <!-- Código de instalación Cliengo para n00038802@upn.pe -->
    <script type="text/javascript">(function () {
        var ldk = document.createElement('script');
        ldk.type = 'text/javascript'; ldk.async = true;
        ldk.src = 'https://s.cliengo.com/weboptimizer/62982a9c1aa46e002a0c67c0/62982a9e1aa46e002a0c67c3.js?platform=dashboard';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ldk, s);
        })();</script>

</body>



