﻿@{
    Layout = "~/Views/Shared/Ajustes_Layout.cshtml";
    ViewData["Title"] = "Usuarios";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Crear nuevo Usuario</h1>
    <form action="/admin/CrearUsuarios" class="col-12" method="post">
        <div class="mb-3">
            <label class="form-label" for="Nombres">Nombres</label>
            <input type="text" class="form-control" placeholder="Nombres" name="Nombres" value="@Model.Nombres" required />
            <p class="alert-danger">@Html.ValidationMessage("Nombres")</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Apellidos">Apellidos</label>
            <input type="text" class="form-control" placeholder="Apellidos" name="Apellidos" value="@Model.Apellidos" required />
            <p class="alert-danger">@Html.ValidationMessage("Apellidos")</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Correo">Correo</label>
            <input type="text" class="form-control" placeholder="Correo electronico" name="Correo" value="@Model.Correo" required />
            <p class="alert-danger">@Html.ValidationMessage("Correo")</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Titulo">Ocupación o Título</label>
            <input type="text" class="form-control" placeholder="Titulo u Ocupación" name="Titulo" value="@Model.Titulo" />
        </div>
        <div class="form-group">
            <label class="form-label">Biografía</label>
        </div>
        <textarea id="text" class="form-control" rows="5" cols="60" name="Biografia" value="@Model.Biografia"></textarea>
        <div class="mb-3">
            <label class="form-label" for="Celular">Celular</label>
            <input type="text" class="form-control" placeholder="Celular" name="Celular" value="@Model.Celular" />
            <p class="alert-danger">@Html.ValidationMessage("Celular")</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Username">Username</label>
            <input type="text" class="form-control" placeholder="Nombre de Usuario" name="Username" value="@Model.Username" required />
            <p class="alert-danger">@Html.ValidationMessage("Username")</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Password">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="Password" value="@Model.Password" required />
            <p class="alert-danger">@Html.ValidationMessage("Password")</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="passwordConf">Confirmar Contraseña</label>
            <input type="password" class="form-control" placeholder="Confirmar Contraseña" name="passwordConf" required />
        </div>
        <div class="mb-3">
            <label class="form-label" for="IdRol">Rol de Usuario</label>
            <select name="IdRol" class="form-control" required>
                <option value="">-- Selecciona una opcion --</option>
                @foreach (var item in ViewBag.Roles)
                {
                    <option value="@item.Id">@item.Nombre</option>}
            </select>
            <p class="alert-danger">@Html.ValidationMessage("IdRol")</p>
        </div>
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
        <a class="btn btn-danger" href="/ajustes/tablero">Cancelar</a>
    </form>
</div>