﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script charset="UTF-8"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="InclusionVirtual, educacion" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"] - IncVirtual</title>


    <!-- Favicon -->
    <link rel="shortcut icon" href="/proyecto/I.png">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>IncVirtual</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Inicio</a>
                <a href="/docente/docentes" class="nav-item nav-link">Docentes</a>
                <a href="/curso/cursos" class="nav-item nav-link">Cursos</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Categorias</a>
                    <div class="dropdown-menu fade-down m-0">
                        @foreach (var categoriasss in ViewBag.Categorias)
                        {
                            <a class="dropdown-item" href="/home/Cursos?idCategoria=@categoriasss.Id">@categoriasss.Nombre</a>
                        }
                    </div>
                </div>
                <a href="/home/Testimonial" class="nav-item nav-link">Testimonial</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/CursoUsuario/MisCursos" class="nav-item nav-link">Mis Cursos</a>
                }
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <a href="/user/register" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Ingresar<i class="fa fa-arrow-right ms-3"></i></a>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/user/Logout" class="btn btn-primary py-4 px-lg-3 d-none d-lg-block"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                <a href="/ajustes/Tablero" class="btn btn-primary py-4 px-lg-3 d-none d-lg-block">@User.Claims.FirstOrDefault().Value</a>
            }
        </div>
    </nav>
    <!-- Navbar End -->
    @*<div class="container-fluid">*@
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @*</div>*@

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Enlace Rápido</h4>
                    <a class="btn btn-link" href="/">Inicio</a>
                    <a class="btn btn-link" href="/home/TerCon">Términos y Codiciones</a>
                    <a class="btn btn-link" href="/home/PoliPri">Política de privacidad</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contacto</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Jr. Juan Miguel Rosell B-1J, Cajamarca</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>(+51) 926930807</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>incvirtual2022@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="https://twitter.com/InclusinVirtual"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/Inclusi%C3%B3n-Virtual-102048385869792"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/channel/UCbUSWJ5fXXS57o5tmWDG9CA"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/inclusion_virt/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Equipo de trabajo</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/img/Jhan-Team.png" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/img/Kellyn-Team.png" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/img/Diego-Team.png" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/img/Genesis-Team.png" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/img/Meyler-Team.png" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/img/IncVirtual.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Información</h4>
                    <p>Envianos un Email para comunicarnos contigo.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <p class="form-control border-0 w-100 py-3 ps-4 pe-5">incvirtual2022@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="/">Inclusión Virtual</a>, Todos los derechos reservados.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a href="/user/login">Login</a>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/ajustes/Tablero">Conectado @User.Claims.FirstOrDefault().Value</a>
                            }
                            <a href="/docente/docentes">Docentes</a>
                            <a href="/curso/cursos">Cursos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main2.js"></script>
    <script src="~/js/mainPla.js"></script>

    <!--SCRIPT SYSTEM-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
