﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script charset="UTF-8" ></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Perfil</title>
    <link rel="shortcut icon" href="/proyecto/I.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- ICONOS DE FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="sb-nav-fixed">
    <!--NAVBAR ORIGINAL-->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!--Navbar Brand-->
        <a class="navbar-brand ps-3" href="/"><img src="~/proyecto/logo.png" alt="LOGO INCVIRTUAL" width="80" />IncVirtual</a>
        <!--Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!--Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <!--Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-shield"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/ajustes/index">Configuración</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/user/LogOut">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--NAVBAR FIN-->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Centro</div>
                        <a class="nav-link" href="/Ajustes/Tablero">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">DATOS</div>
                        <a class="nav-link" href="/Ajustes/index">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-cog"></i></div>
                            Perfil
                        </a>
                        @if (ViewBag.User == 1)
                        {
                            <div class="sb-sidenav-menu-heading">OBJETOS</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts_1" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                Usuarios
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts_1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/admin/Usuarios?idRol=2">Docentes</a>
                                    <a class="nav-link" href="/admin/Usuarios?idRol=3">Estudiantes</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts_2" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-swatchbook"></i></div>
                                Cursos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts_2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    @foreach (var item in ViewBag.Categorias)
                                    {
                                        <a class="nav-link" href="/admin/Cursos?idCategoria=@item.Id">@item.Nombre</a>
                                    }
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">CREAR OBJETOS</div>
                            <a class="nav-link" href="/admin/CrearUsuarios">
                                <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                                Crear Usuario
                            </a>
                            <a class="nav-link" href="/admin/CrearCursos">
                                <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                                Crear Curso
                            </a>
                            <a class="nav-link" href="/admin/Categorias">
                                <div class="sb-nav-link-icon"><i class="fas fa-server"></i></div>
                                Crear Categorias
                            </a>
                            <a class="nav-link" href="/admin/compras">
                                <div class="sb-nav-link-icon"><i class='fas fa-comment-dollar'></i></div>
                                Compras
                            </a> 
                        }
                        else if (ViewBag.User == 2)
                        {
                            <div class="sb-sidenav-menu-heading">Cursos</div>
                            @foreach (var item in ViewBag.Categorias)
                            {
                                <a class="nav-link" href="/docente/MisCursos?idCategoria=@item.Id">
                                    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                                    @item.Nombre
                                </a>
                            }
                            <div class="sb-sidenav-menu-heading">Añadir</div>
                            <a class="nav-link" href="/docente/CrearCursos">
                                <div class="sb-nav-link-icon"><i class="fas fa-folder-plus"></i></div>
                                Curso
                            </a>
                            <a class="nav-link collapsed" href="/docente/DetalleCurso" data-bs-toggle="collapse" data-bs-target="#collapseLayouts_1" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class='fas fa-paste'></i></div>
                                Detalle Curso
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts_1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/docente/Contenido">Contenido del Curso</a>
                                    <a class="nav-link" href="/docente/Aprendizaje">Aprendizaje y requisitos</a>
                                </nav>
                            </div>
                            }
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Conectado:</div>
                    @User.Claims.FirstOrDefault().Value
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main id="Correcto">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
