﻿@{
    Layout = "~/Views/Shared/Ajustes_Layout.cshtml";
    ViewData["Title"] = "Datos Generales";
    var usuario = (Usuario)Model;
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Perfil</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Datos Generales</li>
    </ol>
    <div class="breadcrumb mb-4">
        <img id="img" width="200" height="200" src="@usuario.Imagen" class="img-thumbnail" alt="@usuario.Nombres">
    </div>
    <div class="row float-right">
        <form action="/Ajustes/Editar" enctype="multipart/form-data" class="col-12" method="post">
            <input type="hidden" name="Id" value="@usuario.Id" />
            <input type="hidden" name="Imagen" value="@usuario.Imagen" />
            <input type="hidden" name="Correo" value="@usuario.Correo" />
            <input type="hidden" name="Username" value="@usuario.Username" />
            <input type="hidden" name="Password" value="@usuario.Password" />
            <div class="mb-3">
                <label class="form-label" for="image">Imagen</label>
                <input id="file" onchange="mostrar()" type="file" class="form-control" name="image" accept="image/x-png,image/gif,image/jpeg" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="Nombres">Nombres</label>
                <input type="text" class="form-control" placeholder="Nombres" name="Nombres" value="@usuario.Nombres" required />
                <p class="alert-danger">@Html.ValidationMessage("Nombres")</p>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Titulo">Titulo</label>
                <input type="text" class="form-control" placeholder="Titulo o especialidad" name="Titulo" value="@usuario.Titulo" required />
                <p class="alert-danger">@Html.ValidationMessage("Titulo")</p>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Apellidos">Apellidos</label>
                <input type="text" class="form-control" placeholder="Apellidos" name="Apellidos" value="@usuario.Apellidos" required />
                <p class="alert-danger">@Html.ValidationMessage("Apellidos")</p>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Celular">Celular</label>
                <input type="text" class="form-control" placeholder="Celular" name="Celular" value="@usuario.Celular" />
                <p class="alert-danger">@Html.ValidationMessage("Celular")</p>
            </div>
            <div class="form-group">
                <label class="form-label">Biografía</label>
            </div>
            <textarea id="text" rows="5" cols="60" name="Biografia" value="@usuario.Biografia"></textarea>
            <div class="mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3"><i class="fab fa-twitter"></i></span>
                    <input type="text" class="form-control" placeholder="Twitter" name="Twitter" value="@usuario.Twitter" />
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3"><i class="fab fa-facebook-f"></i></span>
                    <input type="text" class="form-control" placeholder="Facebook" name="Facebook" value="@usuario.Facebook" />
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3"><i class="fab fa-linkedin-in"></i></span>
                    <input type="text" class="form-control" placeholder="LinkedIn" name="LinkedIn" value="@usuario.LinkedIn" />
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3"><i class="fab fa-youtube"></i></span>
                    <input type="text" class="form-control" placeholder="YouTube" name="YouTube" value="@usuario.YouTube" />
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3"><i class="fab fa-instagram"></i></span>
                    <input type="text" class="form-control" placeholder="Instagram" name="Instagram" value="@usuario.Instagram" />
                </div>
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </form>
    </div>
</div>

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("text") });
    simplemde.value("@usuario.Biografia");
</script>