﻿@{
    ViewData["Title"] = ViewBag.Nombre;
}

<head>
    <link href="~/css/CatLetras.css" rel="stylesheet" />
</head>

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Cursos</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="breadcrumb-item"><a class="text-white" href="/user/login">Login</a></li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="breadcrumb-item"><a class="text-white" href="/ajustes/Tablero">Conectado @User.Claims.FirstOrDefault().Value</a></li>
                        }
                        <li class="breadcrumb-item"><a class="text-white" href="/docente/docentes">Docentes</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="/curso/cursos">Cursos</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Courses Start -->
<section class="feature-section ptb-100 gray-light-bg">
    <div class="container">
        <div class="row justify-content-center wow fadeInUp">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading text-center">
                    <h2>Mis Cursos Inscritos</h2>
                </div>
            </div>
        </div>

        <div class="row g-4 justify-content-center">
            @if (ViewBag.CursoUsuario.Count > 0)
            {
                foreach (var item in ViewBag.CursoUsuario)
                {

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="course-item bg-light">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid rounded" src="@item.Cursos.Imagen" alt="@item.Cursos.Nombre">
                                <div class="w-100 d-flex justify-content-center position-sticky bottom-0 start-0 mb-4">
                                    <a href="/Curso/Detalle?idCurso=@item.Cursos.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Leer más</a>
                                    <a href="/Curso/Detalle?idCurso=@item.Cursos.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Iniciar ahora</a>
                                </div>
                            </div>
                            <div class="text-center p-4 pb-0">
                                <div class="mb-3">
                                    <small class="fa fa-star text-warning" onclick="calificar1(this)" style="cursor: pointer;" id="1estrella"></small>
                                    <small class="fa fa-star text-warning" onclick="calificar1(this)" style="cursor: pointer;" id="2estrella"></small>
                                    <small class="fa fa-star text-warning" onclick="calificar1(this)" style="cursor: pointer;" id="3estrella"></small>
                                    <small class="fa fa-star text-warning" onclick="calificar1(this)" style="cursor: pointer;" id="4estrella"></small>
                                    <small class="fa fa-star text-warning" onclick="calificar1(this)" style="cursor: pointer;" id="5estrella"></small>
                                </div>
                                <h5 class="mb-4">@item.Cursos.Nombre</h5>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fas fa-shapes text-primary me-2"></i>@item.Cursos.Categoria.Nombre</small>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="typing-demo">
                    Aún no lleva ningún curso.
                </div>
            }

        </div>
    </div>
</section>
<!-- Courses End -->